/* =========================
   LIST
========================= */

.list {
  width: 100%;

  display: grid;

  grid-template-columns: repeat(
    auto-fit,
    minmax(400px, 1fr)
  );

  gap: var(--space-lg);
}


/* =========================
   EMPTY STATE
========================= */

.empty {
  display: flex;
  align-items: center;
  justify-content: center;
}


/* =========================
   MOBILE
========================= */

@media (max-width: 767px) {
  .list {
    grid-template-columns: 1fr;

    gap: var(--space-md);
  }
}