.button {
  background: var(--color-secondary);
  border: 2px solid var(--color-primary);
  border-radius: 999px;
  color: black;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: all 250ms;
  cursor: pointer;
}

.medium {
  padding: 15px 25px;
  font-size: 17px;
}

.small {
  padding: 5px 10px;
  font-size: 0.9rem;
}

.common {
  font-weight: 600;
}

.cart {
  font-weight: 900;
  font-size: 2rem;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: var(--color-primary);
  z-index: -1;
  transition: all 250ms;
}

.button:hover {
  color: white;
  border: 2px solid var(--color-primary);
} 

.button:hover::before {
  width: 100%;
}

.button:active {
  transform: scale(0.95);
}