/* Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  font-family: "Inter", "Manrope" ;
}

img,
picture {
  max-width: 100%;
  display: block;
}

button,
input,
textarea,
select {
  font: inherit;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.button, .button-xs {
 padding: 15px 25px;
 border: unset;
 border-radius: 999px;
 color: black;
 z-index: 1;
 background: var(--color-secondary);
 position: relative;
 font-weight: 600;
 font-size: 17px;
 transition: all 250ms;
 overflow: hidden;
}

.button-xs{
  padding: 5px 10px;
  font-size: 0.9rem;
  border: 2px solid black;
}

.button::before, .button-xs::before {
 content: "";
 position: absolute;
 top: 0;
 left: 0;
 height: 100%;
 width: 0;
 border-radius: 15px;
 background-color: var(--color-primary);
 z-index: -1;
 transition: all 250ms;
 
}

.button:hover, .button-xs:hover {
 color: white;
 border: 2px solid var(--color-primary);
} 

.button:hover::before, .button-xs:hover::before {
 width: 100%;
}
