.registerContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: var(--space-md);
  align-items: center;
}

.registerForm {
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
}

.span {
  padding-left: 18px;
}

.input {
  width: 100%;
  border: 1px solid black;
  border-radius: 24px;
  padding: 8px 16px;
}
