/* =========================
   GRID
========================= */

.grid {
  width: 100%;
  max-width: var(--container-width);

  margin: var(--space-xl) auto;

  padding:
    0
    var(--padding-page-desktop);

  box-sizing: border-box;

  display: grid;

  grid-template-columns: repeat(
    auto-fit,
    minmax(280px, 1fr)
  );

  gap: var(--space-lg);
}


/* =========================
   EMPTY STATE
========================= */

.empty {
  display: flex;
  align-items: center;
  justify-content: center;
}


/* =========================
   MOBILE
========================= */

@media (max-width: 767px) {
  .grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));

    gap: var(--space-sm);

    margin: var(--space-lg) auto;

    padding:
      0
      var(--padding-page-mobile);
  }
}