.box {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 1rem 1.25rem;
  border-radius: 1rem;
  background-color: #f0d6ae51;
  width: 100%;
  max-width: 350px;
}

.neutral {
  color: #0f172a;
}

.error {
  color: #710404;
}

.title {
  margin: 0 0 0.35rem;
  font-size: 1rem;
}

.description {
  margin: 0;
}